:root {
    background-image: linear-gradient(to bottom, rgb(10, 10, 10), rgb(15, 15, 15));
    background-attachment: fixed;
    color: white;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.5em;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("thumbnail.webp"),
    radial-gradient(circle, black 1%, transparent 2%),
    radial-gradient(circle, rgb(163, 163, 163) 0%, transparent 1%),
    radial-gradient(circle, white 0%, transparent 1%),
    radial-gradient(circle, rgb(128, 0, 128) 0%, transparent 1%);
    background-repeat: no-repeat, repeat, repeat, repeat, repeat;
    background-size: 100% auto, 10rem 40rem, 10rem 40rem, 10rem 40rem, 10rem 40rem;
    background-position-y: 0, 0, 10rem, 20rem, 30rem;
    animation: background 60s linear infinite;
    opacity: 0.3;
}

main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 1rem;
    margin-bottom: 10rem;
    gap: 10rem;
}

h2 {
    margin-bottom: 0.5em;
}

a {
    color: rgb(50, 150, 255);
}

a:visited {
    color: rgb(150, 100, 255);
}

#greeting {
    margin-top: 10rem;
}

#toolsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
    margin: 0 10rem;
}

.gray {
    color: rgb(150, 150, 150);
    font-size: 0.8em;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
    gap: 1rem;
}

.card h3 {
    margin: 0.5em 0;
}

.card p {
    margin: 0;
}

.arrow-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.5em solid currentColor;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socialsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.social-card {
    background-color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
}

.social-card h3 {
    margin-bottom: 0;
    transition: scale 0.2s;
}

.social-banner {
    position: relative;
    transition: transform 0.2s;
}

.social-card:hover .social-banner {
    transform: translateY(-0.5rem);
}

.social-card:hover h3 {
    scale: 1.1;
}

.social-banner__brand {
    position: absolute;
    right: 0;
    bottom: 0;
}

#boopContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    animation: rainbow 10s linear infinite;
    font-weight: bold;
}

#boopDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5em;
}

#boop {
    transition: transform 0.1s;
}

#boop.boop:active {
    transform: scale(0.95);
}

@media (max-width: 768px) {
    #greeting {
        margin-top: 2rem;
    }

    h1, #toolsGrid {
        margin: 0;
    }

    main {
        gap: 5rem;
    }
}

@supports (max-width: calc(1px + 1rem)) {
    @media (max-width: calc(calc(128px + 4rem) * 3 + 2rem)) {
        #socialsContainer {
            grid-template-columns: unset;
            grid-template-rows: repeat(auto-fit, 1fr);
        }
    }
}

@supports (not (max-width: calc(1px + 1rem))) {
    @media (max-width: 650px) {
        #socialsContainer {
            grid-template-columns: unset;
            grid-template-rows: repeat(auto-fit, 1fr);
        }
    }
}

@keyframes rainbow {
    0% {
        color: hsl(0, 100%, 50%);
    }
    16% {
        color: hsl(60, 100%, 50%);
    }
    33% {
        color: hsl(120, 100%, 50%);
    }
    50% {
        color: hsl(180, 100%, 50%);
    }
    66% {
        color: hsl(240, 100%, 80%);
    }
    83% {
        color: hsl(300, 100%, 60%);
    }
    100% {
        color: hsl(360, 100%, 50%);
    }
}

@keyframes background {
    0% {
        background-position-x: 0, 0, 10rem, 20rem, 30rem;
    }
    50% {
        background-position-y: 0, 5rem, 15rem, 25rem, 35rem;
    }
    100% {
        background-position-x: 0, 40rem, 50rem, 60rem, 70rem;
    }
}
